<form class="form-signin" [formGroup]="Form" (ngSubmit)="submit()" novalidate>
    <div class=" form-group row">
        <label class="col-3 col-form-label"><b>Appointment Date : </b></label>
        <div class="col-9">
            <input type="datetime-local" name="appointmentDate" class="form-control" [class.is-invalid]="Form.get('appointmentDate').invalid && Form.get('appointmentDate').dirty" 
                formControlName="appointmentDate" required>
            <small class="form-text" [hidden]="Form.get('appointmentDate').valid || Form.get('appointmentDate').pristine">
                Appointment Date is required
            </small>
        </div> 
    </div>
    <button class="btn btn-lg btn-primary" style="margin-left: 150px;margin-top: 10px;" [disabled]="Form.invalid" (click)="submit()" type="submit">Set</button>  
</form>

<form class="form-signin" [formGroup]="newForm" (ngSubmit)="none()" novalidate>
    <div class=" form-group row">
        <label class="col-3 col-form-label"><b> Date : </b></label>
        <div class="col-9">
            <input type="datetime-local" name="myDate" class="form-control" [class.is-invalid]="newForm.get('myDate').invalid && newForm.get('myDate').dirty" 
                formControlName="myDate" required>
            <small class="form-text" [hidden]="newForm.get('myDate').valid || newForm.get('myDate').pristine">
                Appointment Date is required
            </small>
        </div> 
    </div>
</form>
<input type="datetime-local"  value="{{appDate}}">

