<div class="container">
  <div *ngIf=" isClicked  "  class="alert alert-success" style="text-align: center;">
        Appointment canceled Successfully !!!
    </div><br>
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="table">
      <thead>
        <tr>
        <th>Customer ID</th>
        <th>Card Number</th>
        <th>Appointment Date</th>
        <th>Action</th>
        <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointmentList">
          <td>{{appointment.customerId}}</td>
          <td>{{ appointment.cardNumber}}</td>
          <td>{{appointment.appointmentDate | date:'dd-MM-yyyy    HH:mm'}}</td>
          <td><button type="Submit" (click)="editAppointmentInfo(appointment)" class="btn btn-primary" style="width:70px;" >Edit</button></td>
          <td><button type="Submit"  class="btn btn-danger" (click)="openModal(appointment)" style="width:70px;">Cancel</button></td>



        </tr>
      </tbody>
      </table>
                <!-- The Modal -->
                <div id="myModal" class="modal" >

                    <!-- Modal content -->
                    <div class="modal-content">
                      <p style="text-align: center;font-size: 20px;">Are you sure you want to cancel appointment ?</p>
                      <div class="row">      
                        <div>
                          <button class="btn btn-primary" (click)="cancelAppointment()" style="width: 70px;height: 40px;margin-left: 150px;margin-right: 0px;">Yes</button>
                          <button class="btn btn-danger" (click)="goBack()" style="width: 70px;height: 40px;margin-left: 80px;">No</button>
                        </div>            
                      </div>
                    
                    </div>
                </div>   
</div>

          
