<div class="container">
  <div class="card card-container">
    <div class="alert alert-error">
        {{ error }}
    </div>
      <form class="form-signin" [formGroup]="updateForm" (ngSubmit)="onSubmit()" novalidate>
        <span id="reauth-email" class="reauth-email"></span>
        <div class="alertMessage" *ngIf=" isClicked  "  class="alert alert-success" style="text-align: center;">
          Date is updated Successfully !!!
        </div><br> 
        <div class=" form-group row">
          <label class="col-4 col-form-label"><b>Appointment Date : </b></label>
          <div class="col-8">
            <input type="datetime-local" min="{{today}}" name="appointmentDate" class="form-control" [class.is-invalid]="updateForm.get('appointmentDate').invalid && updateForm.get('appointmentDate').dirty" 
              formControlName="appointmentDate" required>
            <small class="form-text" [hidden]="updateForm.get('appointmentDate').valid || updateForm.get('appointmentDate').pristine">
              Appointment Date is required
            </small>
          </div> 
        </div>
        <div class="row">
          <button class="btn btn-lg btn-primary" style="width: 100px;margin-left:170px;margin-right: 40px; " (click)="goBack()" type="submit">Back</button>
          <button class="btn btn-lg btn-success" style="width: 100px;" (click)="IsClicked()" [disabled]="updateForm.invalid" type="submit">Update</button>
        </div>
        
      </form><!-- /form -->
     
  </div><!-- /card-container -->
</div><!-- /container -->