<div class="container">
  <div class="card card-container">
    <div class="alert alert-danger" *ngIf="error">
        {{ error }}
    </div>
    <div class="text-success alert alert-success" *ngIf="!error && successMessage">{{successMessage}}</div>  
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate> 
        <span id="reauth-email" class="reauth-email"></span>
        <input type="email" id="inputEmail" class="form-control" [class.is-invalid]="loginForm.get('username').invalid && loginForm.get('username').dirty" 
            formControlName="username" name="username" placeholder="User Name" required />
        <small class="form-text" [hidden]="loginForm.get('username').valid || loginForm.get('username').pristine">
            User Name is required
        </small>
    <input type="password" id="inputPassword" class="form-control" [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').dirty" 
        formControlName="password" name="password" placeholder="Password" required />
        <small class="form-text" [hidden]="loginForm.get('password').valid || loginForm.get('password').pristine">
            Password is required
        </small>
          <div id="remember" class="checkbox">
              <label>
                  <input type="checkbox" value="remember-me"> Remember me
              </label>
          </div>
          <button class="btn btn-lg btn-primary" [disabled]="loginForm.invalid" type="submit">Sign in</button>
      </form><!-- /form -->
      <a href="#" class="forgot-password">
          Forgot the password?
      </a>
  </div><!-- /card-container -->
</div><!-- /container -->