
<div class="container">
  <div class="card card-container">
    
      <form class="form-signin" [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
          <span id="reauth-email" class="reauth-email"></span>
          <div class=" form-group row">
            <label class="required col-3 col-form-label">First Name</label>
            <div class="col-9">
                <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('firstName').invalid && registrationForm.get('firstName').dirty" 
                  formControlName="firstName" name="firstName" placeholder="First Name" required />
                <small class="form-text" [hidden]="registrationForm.get('firstName').valid || registrationForm.get('firstName').pristine">
                  First Name is required
                </small>  
            </div> 
          </div>
          <div class=" form-group row">
            <label class=" col-3 col-form-label">Middle Name</label>
            <div class="col-9">
                <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('middleName').invalid && registrationForm.get('middleName').dirty" 
                  formControlName="middleName" name="middleName" id="middleName" placeholder="Middle Name" required />
                <small class="form-text" [hidden]="registrationForm.get('middleName').valid || registrationForm.get('middleName').pristine">
                  Middle Name is required
                </small>  
            </div> 
          </div>
          <div class=" form-group row">
            <label class="required col-3 col-form-label">Last Name</label>
            <div class="col-9">
                <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('lastName').invalid && registrationForm.get('lastName').dirty" 
                  formControlName="lastName" name="lastName" placeholder="Last Name" required />
                <small class="form-text" [hidden]="registrationForm.get('lastName').valid || registrationForm.get('lastName').pristine">
                  Last Name is required
                </small>  
            </div> 
          </div>
          <div class=" form-group row">
            <label class="col-3 col-form-label">Age</label>
            <div class="col-9">
                <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('custAge').invalid && registrationForm.get('custAge').dirty"
                 formControlName="custAge" name="custAge" placeholder="Age" />
                <small class="form-text" [hidden]="registrationForm.get('custAge').valid || registrationForm.get('custAge').pristine">
                  Age is required
                </small>  
            </div> 
          </div>
          <div class=" form-group row">
            <label class="required col-3 col-form-label">Phone Number</label>
            <div class="col-9">
                <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('phoneNumber').invalid && registrationForm.get('phoneNumber').dirty" 
                  formControlName="phoneNumber" name="phoneNumber" placeholder="Phone Number" required />
                <small class="form-text" [hidden]="registrationForm.get('phoneNumber').valid || registrationForm.get('phoneNumber').pristine">
                  <span *ngIf="registrationForm.hasError('pattern',['phoneNumber'])">Phone Number is not valid</span>
                  <span *ngIf="registrationForm.hasError('required',['phoneNumber'])">Phone Number is required</span> 
                </small>   
            </div> 
          </div>
          <div class=" form-group row">
            <label class="required col-3 col-form-label">Confirm Phone</label>
            <div class="col-9">
                <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('confirmPhoneNumber').invalid && registrationForm.get('confirmPhoneNumber').dirty" 
                  formControlName="confirmPhoneNumber" name="confirmPhoneNumber" placeholder="Confirm Phone Number" required />
                <small class="form-text" [hidden]="registrationForm.get('confirmPhoneNumber').valid || registrationForm.get('confirmPhoneNumber').pristine"> 
                  <span *ngIf="registrationForm.controls.confirmPhoneNumber.errors?.MatchPhoneNumber">Phone Number missmatch</span> 
                  <span *ngIf="registrationForm.hasError('required',['confirmPhoneNumber'])">Phone Number Confirmation is required</span>
                </small>   
            </div> 
          </div>
          <!-- <div class=" form-group row">
            <label class="col-3 col-form-label">Information</label>
            <div class="col-9">
                <textarea type="name" class="form-control" [class.is-invalid]="registrationForm.get('Information').invalid && registrationForm.get('Information').dirty" 
                  formControlName="Information" name="Information" placeholder="Information" required ></textarea>
                <small class="form-text" [hidden]="registrationForm.get('Information').valid || registrationForm.get('Information').pristine">
                  Information is required
                </small>  
            </div> 
          </div> -->
          <div class=" form-group row">
            <label class="required col-3 col-form-label">Card Number</label>
                <div class="col-6">
                  <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('customerCardNo').invalid && registrationForm.get('customerCardNo').dirty" 
                      formControlName="customerCardNo" name="customerCardNo" placeholder="Card Number" required />
                  <small class="form-text" [hidden]="registrationForm.get('customerCardNo').valid || registrationForm.get('customerCardNo').pristine">
                      Card Number is required
                  </small>
                </div>  
                <div class="col-3">
                    <button style="margin-left: 0px;margin-top: 0px;height: 38px;" [disabled]="!getCardNumberStatus()" (click)="generate()" class="form-control btn btn-primary" type="submit">Generate</button>
                </div>
          </div>
          
        <div class="form-group row">
            <div class="col-9">
              <button class="btn btn-lg btn-primary" id="myBtn" [disabled]="registrationForm.invalid" style="margin-left: 145px;margin-top: 10px;" type="submit" (click)="onSubmit();">Register</button>
              <!-- The Modal -->
        <div id="myModal" class="modal" >

            <!-- Modal content -->
            <div class="modal-content">
              <div class="alert alert-success" style="text-align: center;">
                {{alert}}
              </div><br>
              <p style="text-align: center"><b>Do you need an appointment ?</b></p>
              <div class="row">

                <div class="col-3">
                  <button class="btn btn-primary" (click)="appoint()" style="width: 70px;height: 40px;margin-left: 150px;margin-right: 0px;">Yes</button>
                </div>  
                <div class="col-3">
                  <button class="btn btn-danger" (click)="goBack()" style="width: 70px;height: 40px;margin-left: 150px;">No</button>
                </div>
                  
              </div>

            </div>
          
          </div>
            </div>
        </div>
        
      </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->

