
<div class="container">
  
  <div class="card card-container">
      <div class="title">
          <h2> <img src="assets/register.png" style="width:45px;height:45px;margin-right: 20px;margin-left: -10px;">Register </h2>
        </div>
        <hr style="height:1px;color:#333;background-color:#333;"/>
      <form class="form-signin" [formGroup]="registrationForm" novalidate>
        <span id="reauth-email" class="reauth-email"></span>
        <div class=" form-group row">
            <label class="required col-3 col-form-label">First Name</label>
            <div class="col-9">
                <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('firstName').invalid && registrationForm.get('firstName').dirty" 
                  formControlName="firstName" name="firstName" placeholder="First Name" required />
                <small class="form-text" [hidden]="registrationForm.get('firstName').valid || registrationForm.get('firstName').pristine">
                  First Name is required
                </small>  
            </div> 
        </div>
        <div class=" form-group row">
            <label class="required col-3 col-form-label">Last Name</label>
            <div class="col-9">
                <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('lastName').invalid && registrationForm.get('lastName').dirty" 
                  formControlName="lastName" name="lastName" placeholder="Last Name" required />
                <small class="form-text" [hidden]="registrationForm.get('lastName').valid || registrationForm.get('lastName').pristine">
                  Last Name is required
                </small>  
            </div> 
        </div>
        <div class=" form-group row">
            <label class="required col-3 col-form-label">Date of Birth</label>
            <div class="col-9">
                <input type="date" class="form-control" [class.is-invalid]="registrationForm.get('DOB').invalid && registrationForm.get('DOB').dirty"
                 formControlName="DOB" name="DOB" placeholder="Date of Birth" required/>
                <small class="form-text" [hidden]="registrationForm.get('DOB').valid || registrationForm.get('DOB').pristine">
                  Date of Birth is required
                </small>  
            </div> 
        </div>
        <div class=" form-group row">
            <label class="required col-3 col-form-label">Email</label>
            <div class="col-9">
                <input type="name" class="form-control" [class.is-invalid]="registrationForm.get('email').invalid && registrationForm.get('email').dirty" 
                  formControlName="email" name="email" placeholder="Email" required email />
                <small class="form-text" [hidden]="registrationForm.get('email').valid || registrationForm.get('email').pristine">
                  <span *ngIf="registrationForm.hasError('email',['email'])">Email is not valid</span>
                  <span *ngIf="registrationForm.hasError('required',['email'])">Email is required</span> 
                </small>   
            </div> 
        </div>
        <div class=" form-group row">
            <label class="required col-3 col-form-label">Password</label>
            <div class="col-9">
                <input type="password" class="form-control" [class.is-invalid]="registrationForm.get('password').invalid && registrationForm.get('password').dirty" 
                  formControlName="password" name="password" placeholder="Password" required minlength="6" />
                <small class="form-text" [hidden]="registrationForm.get('password').valid || registrationForm.get('password').pristine">
                  <span *ngIf="registrationForm.hasError('minlength',['password'])">Password must be atleast 6 characters</span>
                  <span *ngIf="registrationForm.hasError('required',['password'])">Password is required</span> 
                </small>   
            </div> 
        </div>
        <div class=" form-group row">
            <label class="required col-3 col-form-label">Confirm Password</label>
            <div class="col-9">
                <input type="password" class="form-control" [class.is-invalid]="registrationForm.get('confirmPassword').invalid && registrationForm.get('confirmPassword').dirty" 
                  formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required minlength="6" required/>
                <small class="form-text" [hidden]="registrationForm.get('confirmPassword').valid || registrationForm.get('confirmPassword').pristine">
                  <span *ngIf="registrationForm.controls.confirmPassword.errors?.MatchPassword">Password missmatch</span>
                  <span *ngIf="registrationForm.hasError('required',['confirmPassword'])">Password confirmation is required</span> 
                </small>   
            </div> 
        </div>
        <div class=" form-group row">
            <label class="required col-3 col-form-label">Looking to hire or to be hired ?</label>
            <div class="col-9">
              <select [class.is-invalid]="registrationForm.get('isTalent').invalid && registrationForm.get('isTalent').dirty"
                  formControlName="isTalent" id="isTalent" class="custom-select" required>
                <option [hidden]="registrationForm.get('isTalent').dirty" value="" selected>Please Select</option>
                <option value="recruiter">Recruiter</option>
                <option value="talent">Talent</option>
              </select>
              <small class="form-text" [hidden]="registrationForm.get('isTalent').valid || registrationForm.get('isTalent').pristine">
                Position is required
              </small>  
            </div> 
        </div>
        <div class="form-group row">
          <div class="col-9">
            <button class="btn btn-lg btn-primary" id="myBtn" [disabled]="registrationForm.invalid" style="margin-left: 145px;margin-top: 10px;" (click)="onSubmit();">Register</button>
            <!-- The Modal -->
          </div>
        </div>
        <div class=" form-gorup row">
            <div class="col-12">
                <p class=" "  style="text-align: center; box-shadow: none;margin-top:25px; "><button (click)="index()">&larr; Back to Home</button></p>
            </div>
        </div>
        
      </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->

