
  <nav class="navbar navbar-expand-lg navbar-dark">
        <span [hidden]="!loggedIn" id="opener" (click)="toggleNav()">
            <button type="button" id="optionsButton" style="color:white;background-color: grey;" class="btn btn-sm">&#9776;</button>
            &nbsp;&nbsp;
        </span>
        <a class="navbar-brand" routerLink="/">Unimedical</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="get/customerlist">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
    
          <div [hidden]="!loggedIn" class="btn-group mr-3" style="padding-right: 10px">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-success cornerButton" ngbDropdownToggle>
                    {{ CurrentUser }}
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                <button routerLink="register/customer" class="dropdown-item">Register</button>
                <button (click)="logout()" class="dropdown-item">Logout</button>
                </div>
            </div>
        </div>
        <div [hidden]="loggedIn">
            <button class="btn btn-outline-success cornerButton" routerLink="/login" class="btn btn-outline-success cornerButton">
                Login
            </button>
        </div>
    
        </div>
      </nav>

    <div id="mySidenav" class="sidenav">

    <div class="dashboard-options">
        <!--a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a-->
        <ul class="list-group list-group-flush">
     
            <li class="list-group-item">
                <div class="row">
                    <img src="assets/register.png" style="width:35px;height:35px;margin-right: -35px;margin-left: 5px;">
                    <a routerLink="register/customer">Register</a>
                </div>
            </li>
            <li class="list-group-item" style="border-bottom: 1px solid lightgray">
                <div class="row">
                    <img src="assets/list.png" style="width:35px;height:35px;margin-right: -35px;margin-left: 5px;">
                    <a routerLink="get/customerlist">Customer List</a>
                </div>
                
            </li>
            <li class="list-group-item" style="border-bottom: 1px solid lightgray">
                <div class="row">
                    <img src="assets/appointment.png" style="width:35px;height:35px;margin-right: -35px;margin-left: 5px;">
                    <a routerLink="AppointmentList">Appointment List</a>
                </div>
            </li>
            <li class="list-group-item" style="border-bottom: 1px solid lightgray">
                <div class="row">
                    <img src="assets/appointment.png" style="width:35px;height:35px;margin-right: -35px;margin-left: 5px;">
                    <a routerLink="dailyAppointmentReport">Report</a>
                </div>
            </li>
            
            <!-- <li class="list-group-item" style="border-bottom: 1px solid lightgray">
                <a routerLink="/appointment">Appointment</a>
            </li>
            <li class="list-group-item" style="border-bottom: 1px solid lightgray">
                <a routerLink="/update/1">Update</a>
            </li> -->
        </ul>
    </div>

  </div>

  <div id="main">

    <app-main></app-main>
    
  </div>
  