
<div class="container">
  <div class="card card-container">

      <div><p class="">
        <b style="color: rgba(5, 75, 40, 0.74); font-size: 22px">Change Password</b>
      </p></div>
      
      <div style="margin-bottom: 5px" class="text-danger" *ngIf="error">{{error}}</div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-signin" novalidate>
          <div class="form-group">
            <input  [class.is-invalid]="loginForm.get('oldPassword').invalid && loginForm.get('oldPassword').dirty"
             placeholder="Old password" formControlName="oldPassword" class="form-control" type="password">
            <small class="form-text" [hidden]="loginForm.get('oldPassword').valid || loginForm.get('oldPassword').pristine">
              &nbsp;Old password is required
            </small>
          </div>

          <div class="form-group">
            <input required minlength="6" [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').dirty"
             placeholder="New Password" formControlName="password" class="form-control" type="password" id="password">
            <small class="form-text" [hidden]="loginForm.get('password').valid || loginForm.get('password').pristine">
              <span *ngIf="loginForm.hasError('minlength',['password'])">New Password must be at least 6 characters</span>
              <span *ngIf="loginForm.hasError('required',['password'])">New Password is required</span> 
            </small>
          </div>
          
          <div class="form-group">
            <input  [class.is-invalid]="loginForm.get('confirmPassword').invalid && loginForm.get('confirmPassword').dirty"
             placeholder="Confirm New Password" formControlName="confirmPassword" class="form-control" type="password" id="confirmPassword">
             <small class="form-text" [hidden]="loginForm.get('confirmPassword').valid || loginForm.get('confirmPassword').pristine">
              <span *ngIf="loginForm.hasError('required',['confirmPassword'])">Password Confirmation is required</span>
              <span *ngIf="loginForm.controls.confirmPassword.errors?.MatchPassword">Password doesn't match</span>
            </small>
          </div>
          
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Change Password</button>
      </form>
  </div>
</div>